action: fire-dom-event
browser_mod:
  service: browser_mod.popup
  data:
    style:  '[[[ return theme_bubble(500); ]]]' #括号内1024为弹出菜单的宽度
    content:
      type: vertical-stack
      cards:    
        - type: custom:xiaoshi-phone-climate-card
          entity: climate.kongtiao_zhuwo
          timer: timer.kongtiao_timer_zhuwo
          theme: '[[[ return theme() ]]]'
          buttons:
            - switch.kongtiao_dryer_zhuwo
            - switch.kongtiao_eco_zhuwo
            - switch.kongtiao_heater_zhuwo
            - switch.kongtiao_sleep_zhuwo
            - switch.kongtiao_alarm_zhuwo
            - light.kongtiao_light_zhuwo
        - type: custom:xiaoshi-phone-climate-card
          entity: climate.shuinuantan
          timer: timer.shuinuantan_timer_zhuwo
          theme: '[[[ return theme() ]]]'
          buttons:
            - switch.shuinuantan_antifreeze
            - switch.shuinuantan_antiscald
            - switch.shuinuantan_sleep
            - light.shuinuantan_light_keting
            - switch.shuinuantan_alarm_keting
            - switch.shuinuantan_locked_keting
            - sensor.shuinuantan_water_keting