UI表头_水费:           
  triggers_update:
    - '[[[ return number1 ?? ""]]]'  
    - '[[[ return number2 ?? ""]]]'
    - '[[[ return switch1 ?? ""]]]'
    - '[[[ return switch2 ?? ""]]]'
  numeric_precision: 1
  layout: icon_state
  show_state: true
  show_name: false
  icon: mdi:water     
  state_display: |
    [[[
        var shuifei = entity?.state;
        if (shuifei< 100) shuifei = Math.round(shuifei*10)/10;
        if (shuifei>=100) shuifei = Math.round(shuifei);
        if (shuifei< 21) return  '<font color="#FF2000"><b>'+shuifei+' 元</b></font>';
        if (shuifei>=21) return shuifei+" 元"
    ]]] 
  styles:
    icon: 
      - width: 13px
      - height: 13px 
      - margin-left: 5px
      - color: rgb(0 191 255)
    state:
      - font-size: 11px
      - width: 45px
      - margin-left: -8px
      - text-align: center
      - overflow: visible
      - color: '[[[ return theme_color(0,255,1) ]]]' 
    card:
      - cursor: none
      - --mdc-ripple-press-opacity: 0.2  
      - padding: 0
      - background: '[[[ return theme_head_color(255,83,0.6) ]]]' 
      - border: 0px solid 
      - border-radius: 10px
      - width: '[[[ return button_width ]]]'
      - height: 24px
  tap_action:  
    action: fire-dom-event
    browser_mod:
      service: browser_mod.popup
      data:
        style: '[[[ return theme_none(); ]]]'
        content:                
          type: vertical-stack
          cards:                 
            - type: custom:button-card  
              template: 水费信息卡片     
              variables:     
                水费: sensor.xian_water
                主题: '[[[ return theme() ]]]'
            - type: custom:apexcharts-card
              card_mod: 
                style: '[[[ return theme_apexcharts(); ]]]'
              config_templates: 每月水费曲线
              series:   
                - entity: sensor.xian_water